/* Confirm (Yes) button */
.custom-popconfirm .ant-btn-primary {
  background-color: #FF1818 !important;
  border-color: #FF1818 !important;
  color: white !important;
  border-radius: 2px;
  padding: 0 16px;
}

/* Cancel (No) button */
.custom-popconfirm .ant-btn-default {
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px;
  padding: 0 16px;
}


/* rating color */
/* Add this to App.css or index.css */
.custom-rate .ant-rate-star-full,
.custom-rate .ant-rate-star-half {
  color: #f43f5e !important; /* Tailwind's rose-500 */
}

.custom-rate .ant-rate-star-zero {
  color: #e5e7eb !important; /* Tailwind's gray-200 */
}
